<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="gamerTag">Gamertag</label>
                    <input formControlName="gamerTag" type="text" class="form-control" id="gamerTag" name="gamerTag">
                </div>
                <div class="form-group">
                    <label for="realName">Name</label>
                    <input formControlName="realName" type="text" class="form-control" id="realName" name="realName">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input formControlName="age" type="number" class="form-control" id="age" name="age">
                </div>
                <div class="form-group">
                    <label for="team">Team</label>
                    <select id="team" class="form-control" formControlName="team" (change)="changeTeam($event.target.value)">
                        <option selected>Choose a team</option>
                        <option *ngFor="let team of teams" [ngValue]="team.id">{{ team.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="mouse">Mouse</label>
                    <input formControlName="mouse" type="text" class="form-control" id="mouse" name="mouse">
                </div>
                <div class="form-group">
                    <label for="mousepad">Mousepad</label>
                    <input formControlName="mousepad" type="text" class="form-control" id="mousepad" name="mousepad">
                </div>
                <div class="form-group">
                    <label for="keyboard">Keyboard</label>
                    <input formControlName="keyboard" type="text" class="form-control" id="keyboard" name="keyboard">
                </div>
                <div class="form-group">
                    <label for="headset">Headset</label>
                    <input formControlName="headset" type="text" class="form-control" id="headset" name="headset">
                </div>
                <div class="form-group">
                    <input style="display: none" type="file" id="picture" name="picture"
                        (change)="onPictureChange($event)" #fileInput>
                    <input style="display: none;" type="text" class="form-control" formControlName="picture"
                        id="picture">
                    <button class="btn btn-danger" (click)="fileInput.click(); $event.preventDefault();">Upload profile
                        picture</button>
                </div>

                <input type="submit" class="btn btn-primary" value="Add player">
            </form>
        </div>
    </div>
</div>