<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input formControlName="title" type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="creator">Creator</label>
                    <input formControlName="creator" type="text" class="form-control" id="creator" name="creator">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea formControlName="description" type="text" class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <input style="display: none" type="file" id="picture" name="picture"
                        (change)="onPictureChange($event)" #fileInput>
                    <input style="display: none;" type="text" class="form-control" formControlName="imageUrl"
                        id="picture">
                    <button class="btn btn-danger" (click)="fileInput.click(); $event.preventDefault();">Upload profile
                        picture</button>
                </div>
                <input type="submit" class="btn btn-primary" [value]="buttontext">
            </form>
        </div>
    </div>
</div>